<div class="mb-wide border-b border-primary">
    <div class="bg-title-bg dark:bg-title-bg-dark text-title-text dark:text-title-text-dark p-2 uppercase tracking-wide">
        {% block heading %}{{ heading }}{% endblock %}
    </div>
    <div class="my-4">
        {% block content %}{% endblock %}
    </div>
</div>
