{% if entries is not defined %}
    {% set query = craft.entries
        .relatedTo({element:entry, field:'entries'})
        .orderBy('postDate desc')
    %}

    {% if not craft.app.plugins.pluginEnabled('imager-x') %}
        {% do query.with([
            ['featuredImage', {withTransforms: [theme.cardImageTransform]}]
        ]) %}
    {% endif %}

    {% set entries = query.all %}
{% endif %}

<div id="entries" class="flex flex-wrap">
    {% for entry in entries %}

        {% embed '_layouts/embeds/card.twig' with {
            entry
        } %}

        {% endembed %}

    {% endfor %}
</div>
