{% if entry.type.handle != 'members' and entry.children %}
    {% set entries = entry.children.all %}
    {% if entries %}
        <div class="container-{{ theme.pageWidth }} mt-8">
            {% for entry in entries %}
                <div>
                    <a href="{{ entry.url }}">{{ entry.title }} &gt;</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}
