{# @var entry \craft\elements\Entry #}

{% set prev = entry.prev(condition) %}
{% set next = entry.next(condition) %}
<div class="container-{{ theme.pageWidth }}">
    <div class="border-t border-border mt-block pt-4 flex justify-between">
        <div class="col-md-6 pt-2 border-right">
            {% if prev %}
                &lt; {{ prev.link }}
            {% endif %}
        </div>
        <div class="col-md-6 pt-2 text-right">
            {% if next %}
                {{ next.link }} &gt;
            {% endif %}
        </div>
    </div>
</div>
