{% set entries = query.all %}
{% set showPostDate = showPostDate ?? false %}

{% if entries %}
    {% embed '_layouts/embeds/widget.twig' with {heading} %}
        {% block content %}
            <div class="text-base space-y-2">
                {% for entry in entries %}
                	<div class="">
                        {{ entry.link }}
                        {% if showPostDate %}
                            <div class="text-sm text-muted dark:text-muted-dark">
                                {{ entry.postDate|date('short') }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}
{% endif %}
