{% set guide = craft.entries.section('guide').slug(entry.section.handle).one() %}

{% if guide %}
    <div class="data">
        {% set guideUrl = cpUrl("guide-ajax/#{guide.slug}") %}

        {% set subGuides = guide.includeGuides.all %}

        {% embed 'guide/modalbutton_ajax.twig' with {
            caption:'Guide',
            url: guideUrl,
            subGuides: subGuides|map(g => {label: g.title, url: cpUrl("guide-ajax/#{g.slug}")})
        } %}
            {% block content %}
                Loading...
            {% endblock %}
        {% endembed %}

    </div>

{% endif %}


