{% extends "_layouts/cp" %}
{% set title = "Guide" %}

{% set guideSlug = guideSlug ?? 'guide' %}

{% set query = craft.entries.section('guide') %}

{% if not currentUser.admin %}
    {% do query.adminGuide('not 1') %}
{% endif %}

{% set entries = query.all %}

{% set guide = craft.entries.section('guide').slug(guideSlug).one() %}
{% if not guide %}
    {% exit 404 %}
{% endif %}

{% block sidebar %}
    <nav>
        <ul>
            {% for entry in entries %}
                <li>
                    <a class="{{ entry.slug == guideSlug ? 'sel' }}" href="{{ cpUrl("guide/#{entry.slug}") }}"
                       style="{{ "padding-left:#{24*entry.level}px" }}">
                        <span class="label">{{ entry.title }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>

{% endblock %}

{% block content %}

    {% include 'guide/content.twig' with {entry:guide} %}

{% endblock %}
