{% from 'guide/macros.twig' import guideAsset %}



<h2>Hello {{ currentUser.firstName }}! </h2>

<p>Here is some help.</p>


<h2>Available Entry Types</h2>

<h3>Legal</h3>

<p>This is the default for pages just displaying content.</p>

<h3>Privacy</h3>

<p>
    Select to mark this page as your 'Privacy Declaration Page'. It will be linked from the cookie consent dialog and will display
    a cookie settings box of it's own.
</p>


