{% set breakpointClasses = {
    never: 'flex',
    xl: 'hidden xl:flex',
    lg: 'hidden lg:flex',
    ml: 'hidden ml:flex',
    md: 'hidden md:flex',
    sm: 'hidden sm:flex',
    always: 'hidden'
} %}


<nav class="{{ breakpointClasses[theme.mobileBreakpoint] }} items-center space-y-0  space-x-4 pb-0">

    {% set index = 0 %}

    {% for navEntry in navEntries %}

        {% set children = navEntry.children.all %}
        {% if children and navEntry.type.handle != 'members' %}
            {% set index = index + 1 %}
            {% include '_layouts/partials/nav_dropdown.twig' with {
                entries: children,
                navEntry,
                index: index
            } only %}
        {% else %}
            <a class="nav-link  {{ craft.app.request.segment(1) == navEntry.slug ? 'border-primary dark:border-primary-dark' : 'border-transparent' }}"
               href="{{ navEntry.url }}">{{ navEntry.navTitle }}</a>
        {% endif %}

    {% endfor %}

    {% include '_layouts/partials/siteswitcher.twig' %}

</nav>
