{% from '_macros/lib.twig' import img %}

<a class="!no-underline" href="{{ siteUrl }}">

    {% set image = theme.logoTransform ? siteInfo.logo.one : null %}
    {% if  image %}
        {{ img(image, theme.logoTransform, {attrs: {loading: null}, showCopyright: false}) }}
    {% else %}
        <div class="font-semibold text-2xl">
            {{ siteInfo.siteName }}
        </div>
    {% endif %}

</a>
