{% set showTeaser = themeOptions.showTeaser ?? true %}
{% set teaser = themeOptions.teaser ?? entry.teaser ?? '' %}
{% set title = themeOptions.title ?? entry.title %}

{% if 'text' in theme.titleStyle|lower %}
    <div class="">
        {% if showTeaser and teaser %}
            <div class="mt-2 text-base {{ theme.titleStyle in theme.applyTeaserStyles ? 'font-semibold text-teaser dark:text-teaser-dark' }}">
                {{ teaser }}
            </div>
        {% endif %}
        <h1 class="text-4xl text-h1 mt-1 py-2 tracking-wider">{{ title }}</h1>
    </div>
{% endif %}
