<header>
    <div>
        {{ titleImageHtml|raw }}
    </div>
    <div class="bg-title-bg dark:bg-title-bg-dark text-title-text dark:text-title-text-dark mb-12">
        <div class="container container-{{ theme.titleWidth }} pt-2 pb-4">
            {{ titleHtml|raw }}
        </div>
    </div>
</header>
