<header class="mt-8 mb-12">
    <div class="container max-w-screen-{{ theme.headerWidth }} mx-auto  px-8">
        {{ titleImageHtml|raw }}
    </div>
    <div class="container container-{{ theme.titleWidth }} mt-8">
        {{ titleHtml|raw }}
    </div>
</header>
