<header class="mt-block mb-12">
    <div class="container-{{ theme.titleWidth }}">
        {{ titleHtml|raw }}
    </div>
    <div class="mt-8 container-{{ theme.titleImageWidth }}">
        {{ titleImageHtml|raw }}
    </div>
</header>
