{% set block = entry.bodyContent.type('summary').one %}
{% if block %}
    <div class="my-4">
        <div class="font-semibold">
            {{ block.heading }}
        </div>
        <div class="mt-2">
            {{ block.text }}
        </div>
    </div>
{% endif %}
