{% extends "_layouts/#{theme.layout}.twig" %}

{% set themeOptions = {title: 'Not found'|t} %}

{% block content %}
    <div class="container-{{ theme.pageWidth }}">
        {{ 'We could not find anything here'|t }}.
    </div>
{% endblock %}
