{% extends "_layouts/main.twig" %}

{% block content %}
    {% include "_hooks/beforecontent_#{entry.section.handle}" ignore missing %}

    <h1 id="legal-title">{{ entry.title }}</h1>

    {% if entry.type == 'privacy' and entry.showPrivacySettings.value != 'off' %}
        {% include '_partials/privacy_settings.twig' %}
    {% endif %}

    {% if entry.bodyContent %}
        {% include ["#{site}/_partials/blocks","_partials/blocks"] with {blocks:entry.bodyContent.all} %}
    {% endif %}

    {% include "_hooks/endcontent_#{entry.section.handle}" ignore missing %}
{% endblock %}
