{% extends "_layouts/#{theme.layout}.twig" %}

{% set themeOptions = {title: 'Internal Error'|t} %}

{% block content %}
    <div class="container-{{ theme.pageWidth }}">
        {{ 'An internal error has occurred'|t }}.
    </div>
{% endblock %}
