{% extends "_layouts/#{theme.layout}.twig" %}

{% set themeOptions = {title: 'Offline'|t} %}

{% block content %}
    <div class="container-{{ theme.pageWidth }}">
        {{ 'We are currently offline for maintenance'|t }}. {{ x }}
    </div>
{% endblock %}
